@import './base.css';

#app {
  max-width: 1650px;
  margin: 0 auto;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  text-decoration: underline;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  position: relative;
  width: 200px;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h2 {
  color: #f8f8f8;
  text-align: center;
  transition: text-decoration 0.5s; 
}

.movie-card:hover {
  transform: scale(1.04);
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: hsla(160, 100%, 37%, 1);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.favorite-icon.favorited {
  background: hsla(160, 100%, 37%, 1);
  color: black;
}
